BasedOnStyle: LLVM
Language: Cpp

IndentWidth: '4'
TabWidth: '4'
ColumnLimit: 120

AccessModifierOffset: -4

BreakBeforeBraces: Allman

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
SpacesInAngles: true

BinPackArguments: false
BinPackParameters: false
