# Copyright (c) 2020-2023 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

include kenning/resources/reports/*.rst
include kenning/resources/coco_detection/*.classes
include kenning/resources/coco_detection/*.json

include LICENSE
