# Copyright (c) 2020-2023 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

include kenning/resources/reports/*.md
include kenning/resources/reports/*.rst
include kenning/resources/reports/matplotlib_theme_rc
include kenning/resources/reports/bokeh_theme.yml
include kenning/resources/reports/_static/**/*
include kenning/resources/coco_detection/*.classes
include kenning/resources/coco_detection/*.json
include kenning/resources/pyproject/pyproject.toml
include kenning/resources/templates/**/*
include kenning/resources/templates/*

include LICENSE
