/* General report settings */
.md-typeset figure.align-center {
  margin-left: 0;
  margin-right: 0;
  overflow-y: auto;
}

.md-grid {
  margin-left: 0;
  max-width: none
}

/* Custom colors */
.compatible {
  color: var(--md-primary-fg-color);
}

.incompatible {
  color: var(--md-accent-fg-color);
}

.error,
.failed {
  color: var(--md-code-hl-special-color);
}

.fixed {
  color: var(--md-code-hl-constant-color);
}
